/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button Admin */
.closeAdmin {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeAdmin:hover,
.closeAdmin:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button VIP */
.closeVip {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeVip:hover,
.closeVip:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button Admin+VIP */
.closeAV {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeAV:hover,
.closeAV:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button generelle regler */
.closeGr {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeGr:hover,
.closeGr:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button admin regler */
.closeAr {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeAr:hover,
.closeAr:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button server regler */
.closeSr {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeSr:hover,
.closeSr:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button ToS */
.closeToS {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeToS:hover,
.closeToS:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
