 .body {
   background-image: url('https://wallpapersite.com/images/wallpapers/sun-1920x1200-hd-4k-11296.jpg');
   background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

  #canvas {
   position: absolute;
   border-style: solid;
   border: ;
   top: 35%;
   right: 35%;
}

  #point{
   position: fixed;
   top: 42%;
   right: 39%;
   width: 300px;
   font-size: 90px;
}

  #Ascore{
   float: left;
}

  #Bscore{
   float: right;
}

  #vinder{
   position: absolute;
   top: 67%;
   right: 35%;
   width: 400px;
   font-size: 20px;
   color: black;
}

  #Avinder{
   float: left;
}

  #Bvinder{
   float: right;
}  
  #nytspil{
   position: absolute;
   top: 68%;
   right: 46.5%;
}

  #mid {
   position: absolute;
   top: 22.1%;
   right: 48.5%;
   color: white;
   font-size: 35px
  }
    #midcanvas {
   position: absolute;
   top: 35%;
   right: 36%;
   color: black;
   font-size: 35px
  }

   #spil{
   position: absolute;
   top: 20%;
   right: 45.5%;
} 
 
.button {
   border: 2px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 6.5px 13px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #000;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
   
   <!--
body {  background-color: #FFFFFF}
h1 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18pt;
font-style: normal; font-weight: bold; color: #CCFFFF}
h2 {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt;
font-style: normal; font-weight: bold; color: #FFFFFF}
a:link {
color: #CC0000}
a:active {  color: #ffcc33}
a:visited {  color:
#cc6600}
td {  font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt; font-style: normal; font-weight: normal; color:
#000000}
-->

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}